.PostCard {
	border: 1px solid lightgray;
	width: fit-content;
	margin-bottom: 100px;
	background-color: #ffffff;
	max-width: 500px;
	margin: auto;
	border-radius: 10px;
}

.PostCard-Image {
	width: 100%;
	object-fit: contain;
}

.PostCard-Avatar {
	margin-right: 10px;
}

.PostCard-Header {
	display: flex;
	align-items: center;
	text-align: left;
	padding: 12px 12px;
	border-bottom: 1px solid lightgray;
}

.PostCard-Username {
	margin-top: 5px;
}

.PostCard-Text {
	padding: 15px;
	text-align: left;
}

.PostCard-Caption {
	font-weight: normal;
	color: black;
}

.PostCard-Date {
	margin-bottom: -5px;
	padding: 15px;
	color: lightslategrey;
	font-size: 12px;
	/* font-weight: bold; */
}
