a {
	text-decoration: none;
	font-weight: bold;
}

/* .Footer {
	margin-right: 50%;
	margin-left: 40%;
	width: 400px;
	text-align: center;
	bottom: 0%;
	position: fixed;
} */

.Footer {
	margin-top: 1rem;
	padding: 1rem;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
}

.Footer-Name {
	font-size: 13px;
	margin-bottom: -1px;
}

.Footer-Technologies {
	font-size: 11px;
	margin-bottom: 10px;
}

.Footer-Note {
	font-size: 9px;
	font-style: italic;
}
